<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Upgrading Angular</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<style>
			.slides{
				width: 95% !important;
			}
		</style>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h2>
						Upgrading Angular
					</h2>
				</section>
				<section>
					<section>
						Three parts
					</section>
					<section>
						AngularJS to Angular
					</section>
					<section>
						Angular 2 to 4 and 5
					</section>
					<section>
						Angular 5 to 6
					</section>
				</section>

				<section>
					<section>
						AngularJS, a slowly dying framework
						<img class="stretch" data-src="content/1_iOmwue1uxW2O6sbDUEItPw.jpeg">
					</section>
					<section>
						Should not develop new websites using it
					</section>
					<section>
						Not all AngularJS applications are the same
					</section>
					<section>
						.component() introduced in AngularJS 1.5
					</section>
				</section>

				<section>
					<section>
						Some applications are easier to upgrade than others
					</section>
					<section>
						Using Components?
					</section>
					<section>
						Using Typescript?
					</section>
					<section>
						All valid JS is valid TS (superset)
					</section>
					<section>
						Using the latest version of AngularJS?
					</section>
					<section>
						Modular code?
					</section>
					<section>
						Mom's spaghetti?
					</section>
					<section>
						Are the original developers still around?
					</section>
					<section>
						Using few libraries?
					</section>
					<section>
						You don't need comprehensive knowledge of AngularJS
					</section>
				</section>
				
				<section>
					<section>
						I work at BBL
					</section>
					<section>
						Bli Medlem<br>
						<iframe style="width: 700px; height: 650px;" src="https://blimedlem.bbl.no/USBL/"></iframe>
					</section>
					<section>
						Epost i Portalen
					</section>
					<section>
						Min side (Added angular CLI and angular 4 -> 5)
					</section>
					<section>
						Birdid quiz (from angular 2 beta)<br>
						<iframe style="width: 700px; height: 650px;" src="https://hembstudios.no/birdid/bird/quiz/"></iframe>
					</section>
					<section>
						They are small to medium sized projects (by 1 to 4 developers for up to a year)
					</section>
					<section>
						"The upgrading guy"
					</section>
				</section>

				<section>
					<section>
						Upgrading from AngularJS to Angular 2+ is not trivial
					</section>
					<section>
						Consider them as two separate, but related frameworks
					</section>
					<section>
						In place upgrading is discouraged
					</section>
					<section>
						Initial development is hard to share across a team
					</section>
				</section>

				<section>
					<section>
						My approach?
					</section>
					<section>
						Use Angular CLI
					</section>
					<section>
						Generate a new project
					</section>
					<section>
						Run them in paralell (code and serve)
					</section>
					<section>
						Port barebone core
					</section>
					<section>
						Port over part for part of the applications
					</section>
					<section>
						TS/JS files will need small to medium re-write
					</section>
					<section>
						HTML files can be copied with some simple search and replaces
					</section>
					<section>
						And it always takes more time than expected
					</section>
					<!-- <section>
						Remember Angular 2+ is easier to work with
					</section> -->
					<!-- <section>
						Consider changing the arcitecture while upgrading
					</section>
					<section>
						Angular 2 is more service, component and module focused
					</section> -->
				</section>
				
				<section>
					Some examples
				</section>

				<section>
					<section>
						Upgrading HTML
					</section>
					<section>
						The easiest
					</section>
					<section>
						<pre class=""><code class="Html" data-trim contenteditable>
							<span ng-if="$ctrl.providerType === 0">Gmail</span>
						</code></pre> 
						<pre class="fragment"><code class="Html" data-trim contenteditable>
							<span *ngIf="providerType === 0">Gmail</span>
						</code></pre> 
					</section>
					<section>
						<pre class=""><code class="Html" data-trim contenteditable>
							<span ng-click="$ctrl.goToStep(0)">Start</span>
						</code></pre> 
						<pre class="fragment"><code class="Html" data-trim contenteditable>
							<span (click)="goToStep(0)">Start</span>
						</code></pre> 
					</section>
					<section>
						<p class="">
							ng-class -> [ngClass]
						</p>
						<p class="fragment">
							ng-hide -> [hidden]
						</p>
						<p class="fragment">
							ng-if -> *ngIf
						</p>
						<p class="fragment">
							ng-for -> *ngFor
						</p>
						<p class="fragment">
							ng-click -> (click)
						</p>
						<p class="fragment">
							ng-enter -> (keyup.enter)
						</p>
					</section>
				</section>

				<section>
					<section>
						TS/JS
					</section>
					<section>
						<pre class=""><code class="TypeScript" data-trim contenteditable>
							class SidebarComponentController { .... }

							SidebarComponentController.$inject = ['$stateParams'];
		
							class SidebarComponent {
								controller: any = SidebarComponentController;
								templateUrl: string = '/sidebar/SidebarTemplate.html';
								bindings: any = {
									changeList: '&',
									toggleSidebar: '&'
								};
							}
						
							angular.module('portal.innboks').component('innboksSidebar', new SidebarComponent());
						</code></pre> 
					</section>
					<section>
						<pre class=""><code class="TypeScript" data-trim contenteditable>
							@Component({
								selector: 'app-innboks-sidebar',
								templateUrl: './innboks-sidebar.component.html'
							})
							export class InnboksSidebarComponent implements OnInit, OnDestroy {

								@Input() public showActions: boolean;

								constructor(
									private router: Router,
									private route: ActivatedRoute
								) {}

								.....

							}
						</code></pre> 
					</section>
					<section>
						No longer inputting functions
						<p class="fragment">
							Only emitting events
						</p>
					</section>
					<!-- <section>
						Improved modules
						<p class="fragment">
							Can have one for the project, one for each component, or somewhere in between
						</p>
					</section> -->
					<section>
						AngularJS applications are not required to be object oriented
						<pre class=""><code class="TypeScript" data-trim contenteditable>
							app.controller('adminLogController', function($scope, $http) {	
								"use strict";	
								$scope.updateAdminLogData = function() {
									$http({
										method: 'GET',
										url: 'api/getAdminLog.php'
									})
									.....
								};	
								$scope.updateAdminLogData();	
							});
						</code></pre>
					</section>
					<section>
						Project will have useless code
						<p class="fragment">
							Port constructor -> ngOnInit
						</p>
						<p class="fragment">
							Port functions called in constructor
						</p>
						<p class="fragment">
							Port functions called from HTML
						</p>
						<p class="fragment">
							Look for code not ported and consider leaving it
						</p>
					</section>
				</section>

				<!-- <section>
					<section>
						Testing the project while upgrading
					</section>
					<section>
						End to end tests (e2e)
					</section>
					<section>
						Nightwatch
					</section>
					<section>
						Bli Medlem<br>
						<iframe style="width: 700px; height: 650px;" src="https://blimedlem.bbl.no/USBL/"></iframe>
					</section>
					<section>
						Cypress
					</section>
				</section> -->

				<section>
					Upgrade directly to latest stable version of Angular
				</section>

				<section>
					https://angular.io/guide/upgrade
					<br>
					<iframe style="width: 700px; height: 600px;" src="https://angular.io/guide/upgrade"></iframe>
				</section>

				<section>
					Part 2, Angular 2 to 4/5
				</section>

				<section>
					<section>
						Upgrading is significantly less painfull
					</section>
					<section>
						No need for rewrite
					</section>

					<style>
						.upgradeGuidIframe {
							width: 700px;
							height: 650px;
							background-color:white;
						}
					</style>
					
					<section>
						<a href="https://update.angular.io/">update.angular.io</a><br>
						<iframe class="upgradeGuidIframe" src="https://update.angular.io/ "></iframe>
					</section>
					<section>
						Use CLI to generate new project
					</section>
					<section>
						<a href="https://github.com/cexbrayat/angular-cli-diff">https://github.com/cexbrayat/angular-cli-diff</a><br>
						<iframe style="width: 700px; height: 650px;" src="https://github.com/cexbrayat/angular-cli-diff/compare/1.6.8...1.7.4"></iframe>
					</section>
					<section>
						Upgrade one significant version at a time
					</section>
					<section>
						Remember to update global Angular CLI
					</section>
				</section>

				<!-- <section>
					<section>
						Some noteworthy changes
					</section>
					<section>
						Angular httpModule -> httpClientModule
					</section>
					<section>
						RxJS mass import
					</section>
					<section>
						template -> ng-template
					</section>
					<section>
						Ahead of Time (AoT) compilation
					</section>
				</section> -->

				<section>
					Part 3, from Angular 5 to 6
				</section>

				<section>
					You can do it by your self, or...
				</section>
				<section>
					<section>
						ng upgrade *something*
					</section>
					<section>
						Update angular CLI global instance to latest version
					</section>
					<section>
						ng update @angular/cli
					</section>
					<section>
						ng update @angular/core
					</section>
					<section>
						ng update @angular/material
					</section>
					<section>
						Done! (Almost)
					</section>
					<section>
						Then RxJS
					</section>
					<section>
						Update to RxJS 5.6, and then 6.0
					</section>
					<section>
						Piping, and importing
					</section>
					<section>
						Can just use tslint rule
						<pre class="pragment"><code class="TypeScript" data-trim contenteditable>
							npm install -g rxjs-tslint
							rxjs-5-to-6-migrate -p src/tsconfig.app.json
						</code></pre> 
					</section>
					<section>
						Consider adding rxjs-compat temporarily
					</section>
				</section>


				<section>
					Part 4, to infinity and beyond
				</section>

				<section>
					Upgrading will become even easier in the future
				</section>
				<section>
					Almost so painless we won't need version numbers
				</section>

				<section>
                    Jan Greger Hemb <br />
                    www.github.com/JGH153<br />
                </section>

                <section>
                    Questions?
                </section>
                

				<section>
					This page is intentionally left blank
				</section>


			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				history: true,
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
