<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Upgrading Angular</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<style>
			.slides{
				/* width: 95% !important; */
			}
		</style>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>Upgrading Angular</section>
				<section>
					<section>
						Three parts
					</section>
					<section>
						angularjs to Angular
					</section>
					<section>
						Angular 2 to 4 and 5
					</section>
					<section>
						Angular 5 to 6
					</section>
				</section>

				<section>
					<section>
						Angularjs, a slowly dying framework
					</section>
					<section>
						Should not develop new websites using it
					</section>
					<section>
						Not all angularJS applications are the same
					</section>
					<section>
						.component() introduced in angularjs 1.5
					</section>
				</section>

				<section>
					<section>
						Some appliclications are easier to upgrade than others
					</section>
					<section>
						Using Components?
					</section>
					<section>
						Using Typescript?
					</section>
					<section>
						But remember all valid JS is valid TS (superset)
					</section>
					<section>
						Using the latest version of AngularJS?
					</section>
					<section>
						Modular code?
					</section>
					<section>
						Mom's spaghetti?
					</section>
					<section>
						Are the originale developers still around?
					</section>
					<section>
						You don't need comprehensive knolege of AngularJS
					</section>
				</section>
				<section>
					<section>
						Upgrading is a great time for improving the application
					</section>
				</section>
				
				<section>
					<section>
						I work at BBL
					</section>
					<section>
						Bli Medlem<br>
						<iframe style="width: 700px; height: 650px;" src="https://blimedlem.bbl.no/USBL/"></iframe>
					</section>
					<section>
						Epost i Portalen
					</section>
					<section>
						Birdid quiz (from angular 2 beta)<br>
						<iframe style="width: 700px; height: 650px;" src="https://hembstudios.no/birdid/bird/quiz/"></iframe>
					</section>
					<section>
						Anyone stuck on Angular RC-4?
					</section>
					<section>
						Min side (Added angular CLI and angular 4 -> 5)
					</section>
					<section>
						They are small to medium sized projects (by 1 to 4 developers for up to a year)
					</section>
					<section>
						"The upgrading guy"
					</section>
				</section>

				<section>
					<section>
						Upgrading from angularjs to Angular 2+ is not trivial
					</section>
					<section>
						Consider them as two separate, but related frameworks
					</section>
					<section>
						In place upgrading is discouraged
					</section>
					<section>
						Initial developmenbt is hard to share across a team
					</section>
				</section>

				<section>
					<section>
						My approach?
					</section>
					<section>
						Use Angular CLI
					</section>
					<section>
						Generate a new project
					</section>
					<section>
						Run them in paralell (code and serve)
					</section>
					<section>
						Port barebone core
					</section>
					<section>
						Port over part for part of the applications
					</section>
					<section>
						TS/JS files will need small to medium re-write
					</section>
					<section>
						HTML files can be copied with some simple search and replaces
					</section>
					<section>
						Remember Angular 2+ is easier to work with
					</section>
					<section>
						Consider changing the arcitecture while upgrading
					</section>
					<section>
						Angular 2 is more service, component and module focused
					</section>
				</section>
				
				<section>
					Some examples
				</section>

				<section>
					<section>
						Upgrading HTML
					</section>
					<section>
						The easiest
					</section>
					<section>
						<pre class=""><code class="Html" data-trim contenteditable>
							<span ng-if="$ctrl.providerType === 0">Gmail</span>
						</code></pre> 
						<pre class="fragment"><code class="Html" data-trim contenteditable>
							<span *ngIf="providerType === 0">Gmail</span>
						</code></pre> 
					</section>
					<section>
						<pre class=""><code class="Html" data-trim contenteditable>
							<span ng-click="$ctrl.goToStep(0)">Start</span>
						</code></pre> 
						<pre class="fragment"><code class="Html" data-trim contenteditable>
							<span (click)="goToStep(0)">Start</span>
						</code></pre> 
					</section>
					<section>
						<p class="">
							ng-class -> [ngClass]
						</p>
						<p class="fragment">
							ng-hide -> [hidden]
						</p>
						<p class="fragment">
							ng-if -> *ngIf
						</p>
						<p class="fragment">
							ng-for -> *ngFor
						</p>
						<p class="fragment">
							ng-click -> (click)
						</p>
						<p class="fragment">
							ng-enter -> (keyup.enter)
						</p>
					</section>
				</section>

				<section>
					<section>
						TS/JS ? needed?
					</section>
					<section>
						<pre class=""><code class="TypeScript" data-trim contenteditable>

						</code></pre> 
					</section>
				</section>

				<section>
					<section>
						Testing the project while upgrading
					</section>
					<section>
						End to end tests (e2e)
					</section>
					<section>
						Nightwatch
					</section>
					<section>
						Bli Medlem<br>
						<iframe style="width: 700px; height: 650px;" src="https://blimedlem.bbl.no/USBL/"></iframe>
					</section>
					<section>
						Cypress
					</section>
				</section>

				<section>
					Upgrade directly to latest stable version of Angular
				</section>

				<section>
					https://angular.io/guide/upgrade
					<iframe style="width: 700px; height: 650px;" src="https://angular.io/guide/upgrade"></iframe>
				</section>

				<section>
					Part to, Angular 2 to 4/5
				</section>

				<section>
					<section>
						Upgrading is significanly less painfull
					</section>
					<section>
						No need for re-write
					</section>
					<section>
						<a href="https://update.angular.io/">update.angular.io</a>
						<iframe style="width: 700px; height: 650px;" src="https://update.angular.io/ "></iframe>
					</section>
					<section>
						Use CLI to generate new project
					</section>
					<section>
						<a href="https://github.com/cexbrayat/angular-cli-diff">https://github.com/cexbrayat/angular-cli-diff</a>
						<iframe style="width: 700px; height: 650px;" src="https://github.com/cexbrayat/angular-cli-diff/compare/1.6.8...1.7.4"></iframe>
					</section>
					<section>
						Upgrade one significant verson at a time
					</section>
					<section>
						Remember to update global Angular CLI
					</section>
				</section>

				<section>
					<section>
						Some noteworthy changes
					</section>
					<section>
						Angular httpModule -> httpClientModule
					</section>
					<section>
						RxJS mass import
					</section>
					<section>
						template -> ng-template
					</section>
					<section>
						Ahead of Time (AoT) compilation
					</section>
				</section>

				<section>
					Part 3, from Angular 5 to 6
				</section>

				<section>
					You can do it by your self, or...
				</section>
				<section>
					<section>
						ng upgrade *something*
					</section>
					<section>
						Update angular CLI global instance to lates version
					</section>
					<section>
						ng update @angular/cli
					</section>
					<section>
						ng update @angular/core
					</section>
					<section>
						ng update @angular/material
					</section>
					<section>
						Then RxJS
					</section>
					<section>
						Update to RxJS 5.6, and then 6.0
					</section>
					<section>
						Piping, and importing
					</section>
					<section>
						Can just use tslint rule
						<pre class="pragment"><code class="TypeScript" data-trim contenteditable>
							npm install -g rxjs-tslint
							rxjs-5-to-6-migrate -p src/tsconfig.app.json
						</code></pre> 
					</section>
					<section>
						Maybe add rxjs-compat temporarily
					</section>
				</section>


				<section>
					Part 4, to infinity and beyond
				</section>

				<section>
					Upgrading well become even easier in the future
				</section>
				<section>
					Almost so painless we don't need version numbers
				</section>

				<section>
                    Jan Greger Hemb <br />
                    www.github.com/JGH153<br />
                </section>

                <section>
                    Questions?
                </section>
                

				<section>
					This page is intentionally left blank
				</section>


			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				history: true,
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
